<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">Cover your page.</h1>
        <% @pics.each do |pic| %>
          <div class="app-card-container">
            <div class="card">
              <h2>
                <%= pic.title %>
              </h2>
              <%= image_tag( pic.image ) %>
              <%# cl_image_tag( pic.image ) %> <%# To display cloudinary image %>
              <div class="description">
                <%= pic.description %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>